<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li>
                    <a href="/admin/loadDashboard"><i class="mdi mdi-home"></i>
                        <span> Home </span></a>
                </li>

                <li>
                    <a href="/admin/addDetection"><i class="mdi
                    mdi-video"></i>
                        <span> Detection </span></a>
                </li>

                <li>
                    <a href="/admin/viewDetection"><i class="mdi mdi-history"></i>
                        <span> History </span></a>
                </li>

                <li>
                    <a href="/admin/viewImages"><i class="mdi mdi-image"></i>
                        <span> Images </span></a>
                </li>

                <li>
                    <a href="taskboard.html"><i class="mdi mdi-information-variant"></i>
                        <span> About </span></a>
                </li>

                <li>
                    <a href="/"><i class="mdi mdi-logout"></i>
                        <span> Logout </span></a>
                </li>

            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>
